##### Author: Nisha Sundaram

# Data Cleaning

In [ ]:
# importing the necessary libraries

import pandas as pd
import numpy as np
import glob

# path to store the file

path = r'C:\Users\Nisha\Code\Final_project\data_first_fetch'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, sep= ";", index_col=None, header=0, error_bad_lines=False, engine ='python')
    li.append(df)

cars = pd.concat(li, axis=0, ignore_index=True)

In [ ]:
# to know the available columns
cars.columns

In [ ]:
# looking for the data types, null values
cars.info()

In [5]:
# dropping the columns that i feel not required for my project
cars = cars.drop(['url','date','Komfort','Unterhaltung/Media','Sicherheit','Extras', 'Gänge', 'Zylinder','Anzahlung','Überführungskosten','Zulassungskosten','Gesamt, einmalig', 'Leergewicht', 'Vertragsart','Laufzeit','Monatliche Rate','Mehr-km Kosten','Minder-km Vergütung','Effektiver Jahreszins','Sollzins geb. p.a.','Nettodarlehen','Schlussrate','Fahrleistung p.a.','Länderversion','Angebotsnummer','Andere Energieträger','Stromverbrauch2','CO₂-Effizienz','Umweltplakette','Farbe der Innenausstattung','Innenausstattung','Leasinggesamtbetrag','Leasingfaktor','Schlüsselnummer','Garantie','HU','Scheckheftgepflegt','Farbe laut Hersteller','Verfügbar ab','Bruttodarlehensbetrag','Bearbeitungsgebühren','Barzahlungspreis','Nichtraucherfahrzeug','Lackierung','Haftpflicht','Teilkasko','Vollkasko','Antriebsart','Sonderzahlung','Taxi oder Mietwagen','Nettodarlehensbetrag','Sollzinssatz','Erste Rate','Folgeraten','Letzte Inspektion','Verfügbarkeit','Radstand','Nutzlast','zul. Gesamtgewicht','Laderaumhöhe','Laderaumbreite','Laderaumlänge','Ladevolumen','Letzter Zahnriemenwechsel','zul. Zuggewicht','Pkw Zulassung','Energieeffizienzklasse','Achsen','Schadstoffklasse'], axis=1)

In [7]:
# this was updated after analysing the Heatmap: included the column 'CO₂-Emissionen2' 
cars.columns

Index(['car_brand', 'Karosserieform', 'Zustand', 'Sitzplätze', 'Türen',
       'Kilometerstand', 'Erstzulassung', 'Leistung', 'Getriebe', 'Hubraum',
       'Kraftstoff', 'Kraftstoffverbrauch2', 'Außenfarbe', 'verkaeufer',
       'brand', 'model', 'model_details', 'price', 'Baujahr', 'Fahrzeughalter',
       'CO₂-Emissionen2'],
      dtype='object')

In [8]:
# translating and renaming the columns
cars.rename(columns = {'car_brand':'car_brand','Karosserieform':'body_type','Zustand':'condition', 'Sitzplätze':'num_seats', 'Türen':'num_doors','Kilometerstand':'mileage', 'Erstzulassung':'first_reg', 'Leistung':'power_kW', 'Getriebe':'transmission', 'Hubraum':'displacement', 'Kraftstoff':'fuel', 'Kraftstoffverbrauch2':'fuel_eff','Außenfarbe':'color', 'CO₂-Emissionen2': 'co2_emission_gpkm','verkaeufer':'seller','brand':'brand', 'model':'model', 'model_details':'model_details', 'price':'price', 'Baujahr':'year_built', 'Fahrzeughalter':'num_owners'}, inplace = True)

In [9]:
cars.columns

Index(['car_brand', 'body_type', 'condition', 'num_seats', 'num_doors',
       'mileage', 'first_reg', 'power_kW', 'transmission', 'displacement',
       'fuel', 'fuel_eff', 'color', 'seller', 'brand', 'model',
       'model_details', 'price', 'year_built', 'num_owners',
       'co2_emission_gpkm'],
      dtype='object')

In [11]:
# to know the number of available rows and columns
cars.shape

(19336, 21)

In [12]:
# dropping the columns that are duplicated
cars = cars.drop_duplicates()

In [13]:
# replacing the blank spaces with zeros 
# changing the datatypes to integers

cars.num_owners = cars.num_owners.fillna(0).astype(int)
cars.year_built = cars.year_built.fillna(0).astype(int)
cars.num_doors  = cars.num_doors.fillna(0).astype(int)
cars.num_seats  = cars.num_seats.fillna(0).astype(int)
cars.dtypes

car_brand            object
body_type            object
condition            object
num_seats             int32
num_doors             int32
mileage              object
first_reg            object
power_kW             object
transmission         object
displacement         object
fuel                 object
fuel_eff             object
color                object
seller               object
brand                object
model                object
model_details        object
price                 int64
year_built            int32
num_owners            int32
co2_emission_gpkm    object
dtype: object

In [14]:
# checking the car_brand column for any missing values

cars.car_brand.isnull().value_counts()
cars.car_brand.count()

18764

In [15]:
# checking the body_type column for any missing values
# translating and replacing the names

cars.body_type.isnull().value_counts()
cars.body_type = cars.body_type.replace(['Kleinwagen', 'SUV/Geländewagen/Pickup', 'Coupé', 'Van/Kleinbus'], ['Smallcar', 'SUV', 'Coupe', 'Van'])
cars.body_type.count()

18764

In [16]:
# checking the num_seats column for any missing values
# replacing the ones with 0 seats to 5 seats as a default value

cars.num_seats.isna().value_counts()
cars[cars.num_seats==0].count()
cars.num_seats = cars.num_seats.replace(0, 5)
cars.num_seats.count()
#cars[cars.num_seats==0]

18764

In [17]:
# checking the num_doors column for any missing values
# replacing the ones with 0 doors to 4 doors as a default value

cars.num_doors.isna().any()
cars[cars.num_doors==0].count()
cars.num_doors = cars.num_doors.replace(0, 4)
cars.num_doors.count()
#cars[cars.num_doors==0]

18764

In [18]:
# converting mileage to datatype integer, by replacing the 'km' and '.' in the string

cars.mileage=cars.mileage.str.replace('[km]','', regex=True)
cars.mileage=cars.mileage.str.replace('\.','', regex=True)
cars.mileage=cars.mileage.fillna(0).astype(int)
cars.mileage.count()

18764

In [19]:
# checking the first_reg column

cars.first_reg.value_counts()
cars.drop(cars.loc[cars['first_reg']=='02/2022'].index, inplace=True)
cars.first_reg.count()

18763

In [20]:
# converting power to data type int, by replacing the 'kW' and values inside the paranthesis in the string
# filling the missing values with zeros.

cars['power_kW']=cars['power_kW'].str.replace(r"\(.*\)","", regex=True)
cars['power_kW']=cars['power_kW'].str.replace('[kW]','', regex=True)
cars['power_kW']=cars['power_kW'].fillna(0).astype(int)
cars.dropna(subset=['power_kW'], inplace = True)
cars.power_kW.count()

18763

In [ ]:
# checking for missing information in the transmission column
# dropping the rows that are very less in count
# translating and replacing the names

#cars.transmission.isna().value_counts()
cars.dropna(subset=['transmission'], inplace=True)
cars.transmission=cars.transmission.replace(['Automatik', 'Schaltgetriebe', 'Halbautomatik'], ['Automatic', 'Manual', 'Semi-automatic'])
cars.transmission.count()

In [21]:
#converting displacement to datatype float, by replacing the '[cm³]' and values inside the '.' in the string

cars.dropna(subset=['displacement'], inplace=True)
cars.displacement=cars.displacement.str.replace('\.','', regex=True)
cars.displacement=cars.displacement.astype(str).str.replace('[cm³]','', regex=True)

cars.displacement=cars.displacement.replace('', 0)
cars.displacement=cars.displacement.fillna(0).astype(float)
#cars.displacement=cars.displacement.astype(int)

cars.displacement

0        1199.0
1           1.0
2           0.0
6        1968.0
7         999.0
          ...
19327    1998.0
19332     999.0
19333     999.0
19334    1995.0
19335     999.0
Name: displacement, Length: 18085, dtype: float64

In [22]:
# checking for missing information in fuel column
# dropping the rows that are very less in count

cars.fuel.isna().value_counts()
cars.dropna(subset=['fuel'], inplace=True)
cars.fuel.count()

17619

In [23]:
# checking for missing information in color column
# dropping the rows that are very less in count
# translating and replacing the names

cars.color.isna().value_counts()
cars.dropna(subset=['color'], inplace=True)
cars.color=cars.color.replace(['Schwarz', 'Grau', 'Weiß', 'Blau', 'Rot', 'Orange', 'Grün', 'Silber', 'Braun', 'Gelb', 'Bronze', 'Gold', 'Violett', 'Beige'], ['Black', 'Grey', 'White', 'Blue', 'Red', 'Orange', 'Green', 'Silver', 'Brown', 'Yellow', 'Bronze', 'Gold', 'Purple', 'Beige' ])
cars.color.count()

17487

In [24]:
# checking how many types of sellers are available

cars.seller.unique()
cars.seller=cars.seller.replace(['Privat', 'Händler'],['Private', 'Retailer'])
cars.seller.count()

17487

In [26]:
# checking for missing information in brand column
# checking if the dataset has only the TOP 10 brands

cars.brand.isna().value_counts()
cars.brand.count()
cars.brand.unique()

array(['Opel ', 'Audi ', 'Renault ', 'Toyota ', 'Ford ', 'Skoda ',
       'Mercedes-Benz ', 'Volkswagen ', 'BMW ', 'Porsche '], dtype=object)

In [27]:
# checking for the missing values in model column
# dropping the rows if the count is less

cars.model.isna().value_counts()
cars.dropna(subset=['model'], inplace=True)
cars.model.count()

17092

In [ ]:
# checking for the missing values in model_details column

cars.model_details.isna().value_counts()
cars.model_details.count()

In [28]:
# checking for the missing values in price column

cars.price.isna().value_counts()
cars[cars.price == 0]

Empty DataFrame
Columns: [car_brand, body_type, condition, num_seats, num_doors, mileage, first_reg, power_kW, transmission, displacement, fuel, fuel_eff, color, seller, brand, model, model_details, price, year_built, num_owners, co2_emission_gpkm]
Index: []

[0 rows x 21 columns]

In [29]:
# checking for the missing values in year_built column
# replacing the year 0 with value 2021

cars.year_built.isna().value_counts()
cars[cars.year_built == 0].count()
cars.year_built = cars.year_built.replace(0, 2021)   
cars.year_built.count()
cars[cars.year_built!=2021]

,car_brand,body_type,condition,num_seats,num_doors,mileage,first_reg,power_kW,transmission,displacement,...,fuel_eff,color,seller,brand,model,model_details,price,year_built,num_owners,co2_emission_gpkm
38,skoda,Limousine,Vorführfahrzeug,5,5,7791,06/2021,66,Schaltgetriebe,999.0,...,"3,5 kg/100 km (komb.)4,5 kg/100 km (innerorts)...",Grey,Retailer,Skoda,Scala,Drive 125 1.0 TGI G-TEC LED Klimaautomatik,19790,2020,1,95 g/km (komb.)
85,skoda,Limousine,Vorführfahrzeug,5,5,6600,01/2021,81,Schaltgetriebe,999.0,...,"4,7 l/100 km (komb.)5,7 l/100 km (innerorts)4,...",Black,Retailer,Skoda,Fabia,Best of Drive 125 1.0 TSI Navi ACC PDCv+h,18990,2020,1,107 g/km (komb.)
87,skoda,Smallcar,Vorführfahrzeug,5,5,9900,02/2021,70,Schaltgetriebe,999.0,...,"4,7 l/100 km (komb.)5,8 l/100 km (innerorts)4 ...",Silver,Retailer,Skoda,Fabia,Best Of Clever 1.0 TSI ACC NAVI LED Pano,18790,2020,1,107 g/km (komb.)
94,skoda,Limousine,Tageszulassung,5,5,10,08/2021,70,Automatik,999.0,...,"4,6 l/100 km (komb.)5,8 l/100 km (innerorts)3,...",White,Retailer,Skoda,Fabia,1.0 TSI Style DSG Rückfahrkamera Klima,19950,2020,1,109 g/km (komb.)
106,skoda,Smallcar,Vorführfahrzeug,5,5,7477,02/2021,81,Schaltgetriebe,999.0,...,"4,7 l/100 km (komb.)5,6 l/100 km (innerorts)4,...",Grey,Retailer,Skoda,Fabia,Monte Carlo 1.0 TSI LED Navi Panorama LED-Tagf...,19290,2020,1,107 g/km (komb.)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19194,audi,Limousine,Vorführfahrzeug,5,4,8000,10/2021,228,Automatik,1984.0,...,"7,4 l/100 km (komb.)9,1 l/100 km (innerorts)6,...",Blue,Retailer,Audi,S3,Sportback TFSI S tronic HUD Navi B+O Leder Pano,64210,2022,1,170 g/km (komb.)
19204,mercedes-benz,Coupe,Jahreswagen,5,5,23392,01/2021,190,Automatik,1991.0,...,"7,4 l/100 km (komb.)9,5 l/100 km (innerorts)6,...",Black,Retailer,Mercedes-Benz,GLC 300,4M AMG/MBUX/SHD/KeyG/Standheizung/Burmes Navi/LED,68630,2020,1,170 g/km (komb.)
19255,volkswagen,Smallcar,Gebraucht,5,4,19690,02/2021,70,Schaltgetriebe,999.0,...,"4,6 l/100 km (komb.)5,7 l/100 km (innerorts)4 ...",Orange,Retailer,Volkswagen,Polo,UNITED 1.0 TSI OPF GANZJAHRESREI./NAVI/SITZHEIZ.,19249,2020,1,105 g/km (komb.)
19267,audi,Coupe,Jahreswagen,5,4,7900,07/2021,120,Automatik,1968.0,...,"4,3 l/100 km (komb.)5,1 l/100 km (innerorts)3,...",Green,Retailer,Audi,A5,Sportback S-LINE 35 TDI S-TRONIC AHK.NAVI+VIRT...,49880,2022,1,113 g/km (komb.)
19322,mercedes-benz,SUV,Vorführfahrzeug,5,5,14000,12/2021,145,Automatik,1991.0,...,"7,4 l/100 km (komb.)9,3 l/100 km (innerorts)6,...",Grey,Retailer,Mercedes-Benz,GLC 200,4M AMG+Pano+LED+Kamera+Spur+Totw+Keyless,54350,2022,1,169 g/km (komb.)

In [30]:
# checking for the missing values in num_owners column

cars.num_owners.isna().value_counts()
cars[cars.num_owners == 0].count()
cars.num_owners = cars.num_owners.replace(0, 1) 
cars[cars.num_owners == 0].count()
cars.num_owners.count()

17092

In [31]:
# checking for the different fuel types in fuel column

cars.fuel.unique()
cars.fuel.value_counts()
cars.fuel.count()

17092

In [33]:
# categorising and replacing the fuel types and names respectively

cars.replace('Diesel (Partikelfilter)','Diesel_PF',inplace=True)
cars.replace('Super 95','Super95',inplace=True)
cars.replace('Normal/Benzin 91','Super95_91',inplace=True)
#cars.replace('Diesel','Diesel',inplace=True)
cars.replace('Super 95 (Partikelfilter)','Super95_PF',inplace=True)
cars.replace('Super E10 95','Super95_E10',inplace=True)
cars.replace('Super E10 95 (Partikelfilter)','Super95_E10_PF',inplace=True)
cars.replace('Normal/Benzin 91 (Partikelfilter)','Super95_91_PF',inplace=True)
cars.replace('Benzin','Super95',inplace=True)
cars.replace('Normal/Benzin E10 91','Super95_E10_91',inplace=True)
cars.replace('Super Plus 98','Super98',inplace=True)
cars.replace('Super Plus E10 98','Super98_E10',inplace=True)
cars.replace('Benzin (Partikelfilter)','Super95_PF',inplace=True)
cars.replace('Super Plus E10 98 (Partikelfilter)','Super98_E10_PF',inplace=True)
cars.replace('Super Plus 98 (Partikelfilter)','Super98_PF',inplace=True)
cars.replace('Normal/Benzin E10 91 (Partikelfilter)','Super91E10_PF',inplace=True)
cars.replace('Flüssiggas/Autogas (LPG)','Lpg',inplace=True)
cars.replace('Erdgas H','Erdgas',inplace=True)
cars.replace('Elektro','Elektro',inplace=True)
cars.replace('Biodiesel (Partikelfilter)','Biodiesel',inplace=True)
cars.replace('Erdgas L','Erdgas',inplace=True)
cars.replace('Flüssiggas/Autogas (LPG) / Super E10 95 / Super Plus E10 98 / Super 95 / Super Plus 98','Lpg',inplace=True)
cars.replace('Super 95 / Super Plus 98 / Flüssiggas/Autogas (LPG)','Lpg',inplace=True)
cars.replace('Flüssiggas/Autogas (LPG) / Super 95','Lpg',inplace=True)
cars.replace('Sonstige (Partikelfilter)','Super95',inplace=True)
cars.replace('Biogas/Bio-Erdgas','Naturalgas',inplace=True)
cars.replace('Diesel (Partikelfilter) / Ethanolkraftstoff 85 / Biodiesel','Biodiesel',inplace=True)
cars.replace('Sonstige','Super95',inplace=True)

In [34]:
# translating and replacing the names in condition column

cars.condition.value_counts()
cars.condition = cars.condition.replace(['Gebraucht', 'Jahreswagen', 'Vorführfahrzeug', 'Tageszulassung', 'Neu'], ['Used_cars', 'Annual_cars', 'Demonstration_cars', 'One_day_registered_cars', 'New'])
cars.drop(cars.loc[cars['condition']=='New'].index, inplace=True)
cars.condition.value_counts()
cars.condition.count()

17082

In [35]:
# checking for missing information in fuel_eff column
# dropping the rows that are very less in count

cars.fuel_eff.isna().value_counts()
cars.dropna(subset=['fuel_eff'], inplace=True)
cars.fuel_eff.count()

16345

In [36]:
# in order to split the columns into 3, first removed the units for each category using regex

fuel_eff=cars.fuel_eff.str.replace(r" (l|kg)/100 km \(komb.\)",";", regex=True)
fuel_eff=fuel_eff.str.replace(r" (l|kg)/100 km \(innerorts\)",";", regex=True)
fuel_eff=fuel_eff.str.replace(r" (l|kg)/100 km \(außerorts\)"," ", regex=True)

# replaced the commas using dots
fuel_eff = fuel_eff.str.replace(',', '.')

# created 3 new columns by using ".str.split()" function
cars[['fuel_eff_combi_lpkm', 'fuel_eff_city_lpkm', 'fuel_eff_highway_lpkm']] = fuel_eff.str.split(';', expand=True)

# tried using fillna() with .astype(int). But as it was string it couldn't convert, and showed some errors.
# Hence, replaced the empty spaces with zeros using ".replace()"
cars.fuel_eff_combi_lpkm = cars.fuel_eff_combi_lpkm.replace('', 0)
cars.fuel_eff_city_lpkm = cars.fuel_eff_city_lpkm.replace('', 0)
cars.fuel_eff_highway_lpkm = cars.fuel_eff_highway_lpkm.replace('', 0)

# still this column was showing around 1200 empty spaces. So, used ".fillna()" to replace those values.
cars.fuel_eff_combi_lpkm = cars.fuel_eff_combi_lpkm.fillna(0).astype(float)
cars.fuel_eff_city_lpkm = cars.fuel_eff_city_lpkm.fillna(0).astype(float)
cars.fuel_eff_highway_lpkm = cars.fuel_eff_highway_lpkm.fillna(0).astype(float)

# then replaced the float data type to data type int.
cars.fuel_eff_combi_lpkm = cars.fuel_eff_combi_lpkm.fillna(0).astype(int)
cars.fuel_eff_city_lpkm = cars.fuel_eff_city_lpkm.fillna(0).astype(int)
cars.fuel_eff_highway_lpkm = cars.fuel_eff_highway_lpkm.astype(int)

cars.fuel_eff_combi_lpkm

0        0
6        4
7        4
9        4
10       6
        ..
19327    1
19332    5
19333    5
19334    4
19335    5
Name: fuel_eff_combi_lpkm, Length: 16345, dtype: int32

In [37]:
# checking for missing information in co2_emission_gpkm column
# dropping the rows that are very less in count
# replacing the special characters and symbols using regex

cars.co2_emission_gpkm.isna().sum()
# 101 missing values, we can drop them.

cars.dropna(subset=['co2_emission_gpkm'], inplace=True)

cars.co2_emission_gpkm=cars.co2_emission_gpkm.str.replace(r" g/km \(komb.\)",";", regex=True)
cars.co2_emission_gpkm=cars.co2_emission_gpkm.str.replace(';', '')

cars.co2_emission_gpkm = pd.to_numeric(cars.co2_emission_gpkm, errors='coerce')
cars.co2_emission_gpkm=cars.co2_emission_gpkm.astype(int)
cars.co2_emission_gpkm

6        111
7         99
9        102
10       117
12        93
        ...
19327     43
19332    117
19333    116
19334    114
19335    132
Name: co2_emission_gpkm, Length: 16244, dtype: int32

### Reading the csv in a new varaible for my easy reference.

In [39]:
cars_new = pd.read_csv('cars_dataset_cleaned.csv', sep= ";", index_col=None, header=0, engine ='python')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16217 entries, 0 to 16216
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   car_brand              16217 non-null  object
 1   body_type              16217 non-null  object
 2   condition              16217 non-null  object
 3   num_seats              16217 non-null  int64
 4   num_doors              16217 non-null  int64
 5   mileage                16217 non-null  int64
 6   first_reg              16217 non-null  object
 7   power_kW               16217 non-null  int64
 8   transmission           16217 non-null  object
 9   displacement           16217 non-null  float64
 10  fuel                   16217 non-null  object
 11  fuel_eff               16217 non-null  object
 12  color                  16217 non-null  object
 13  seller                 16217 non-null  object
 14  brand                  16217 non-null  object
 15  model                  16217 non-null  object
 16  model_details          16217 non-null  object
 17  price                  16217 non-null  int64
 18  year_built             16217 non-null  int64
 19  num_owners             16217 non-null  int64
 20  co2_emission_gpkm      16217 non-null  int64
 21  fuel_eff_combi_lpkm    16217 non-null  int64
 22  fuel_eff_city_lpkm     16217 non-null  int64
 23  fuel_eff_highway_lpkm  16217 non-null  int64
dtypes: float64(1), int64(11), object(12)
memory usage: 3.0+ MB

In [ ]:
cars_new.info()

#### The column "price” is the target variable and rest of the columns are independent variables.
#### The independent variables are again divided into Numerical and Categorical variables.

# Numerical

In [ ]:
cars_new.select_dtypes(exclude=['object'])

In [ ]:
cars_new.select_dtypes(exclude=['object']).shape

# Categorical

In [ ]:
cars_new.select_dtypes(include=['object']).shape

In [ ]:
cars_new.select_dtypes(include=['object']).isna().sum()

In [ ]:
cars_new['price'].describe()

##### Now let’s plot Heatmap which is pretty useful to visualise multiple correlations among numerical variables. 
##### We have also used the Target variable “Price” to understand the correlation of numerical variables with it.

In [ ]:
from math import sqrt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.pipeline import make_pipeline, Pipeline

In [ ]:
numeric_cols = cars_new.select_dtypes(include=[np.number])
corr = numeric_cols.corr()
print('Top ten Correlated Features with Price:'), print(corr['price'].sort_values(ascending = False)[:10], '\n')
print('Top two Uncorrelated Features with Price:'), print(corr['price'].sort_values(ascending = False)[-2:])

#### Heatmap to show correlation of Numerical and Target variable:

In [ ]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# plt.subplots(figsize=(12,8))
# corrMatrix = cars_new.select_dtypes(exclude=['object']).corr()
# sns.heatmap(corrMatrix, annot=True, cmap='mako')
# plt.show()

##### NOTE: Correlation ranges from -1 to +1. Values closer to zero means there is no linear trend between the two variables. 
##### The close to 1 the correlation is the more positively correlated they are; 
##### that is as one increases so does the other and the closer to 1 the stronger this relationship is.

### Plotting scatter plot to check the correlated features with the 'price'

In [ ]:
# %matplotlib inline
# plt.style.use('ggplot')
# plt.rcParams['figure.figsize'] = (15, 5)

In [ ]:
# plt.scatter(x = cars_new['power_kW'], y = cars_new['price'])
# plt.ylabel('price')
# plt.xlabel('power_kW')

In [ ]:
# plt.scatter(x = cars_new['displacement'], y = cars_new['price'])
# plt.ylabel('price')
# plt.xlabel('displacement')